extends ../layout

block content
  section.hero.is-primary
    .hero-body
      .container
        h1.title Edit Task

  section.section
    .container
      .columns
        .column
          form(action="/task/" + task.id + "/edit", method="post")
            .field
              label.label Description
              p.control
                input.input(name="name", value=task.name)
            .field
              p.control
                label.checkbox
                  input(type="checkbox", name="completed", value=task.completed)
                  = "Done"
            .field.is-grouped
              p.control
                button.button.is-primary Save
              p.control
                button.button.is-link(href="/task") Cancel
