extends ../layout

block content
  section.hero.is-primary
    .hero-body
      .container
        h1.title Task List
        h2.subtitle Manage your tasks

  section.section
    .container
      .columns
        .column
          form.level(action="/task", method="post")
            .level-item
              .field.has-addons
                p.control
                  input.input.is-large(type="text", name="name", placeholder="New Task")
                p.control
                  button.button.is-primary.is-large(type="submit")
                    span.icon
                      i.fa.fa-plus
                    span Add Task


      #tasks-container.columns
        .column
          each task in tasks
            .box.level
              .level-left
                span.level-item= task.name
              .level-right
                form.level-item(action="/task/" + task.id + "/delete", method="post")
                  p.control
                    button.button.is-danger
                      span.icon
                        i.fa.fa-trash
                      span Delete
                a.button.level-item.is-success(href="/task/" + task.id + "/edit")
                  span.icon
                    i.fa.fa-edit
                  span Edit
