extends layout

block content
  section.hero.is-primary
    .hero-body
      .container
        h1.title node-typescript-starter-kit
        h2.subtitle Node, ExpressJS + Typescript 2 starter kit

  section.section
    .container
      .heading
        h1.title Features
      .content
        ul
          li NodeJS
          li Typescript 2
          li ExpressJS
          li Mongoose
